{% extends 'register/base_calendar.html' %}
{% block content %}
<style>
	table {
        table-layout: fixed;
    }
    td > div {
      height: 100px;
      overflow: auto;
      white-space: nowrap;
    }

    .btn_noon{
      border-radius: 5px;
      border-color: orangered;
      color: navy;
      background-color: darkorange;
      font-family: "メイリオ", sans-serif;
    }

    .btn_night{
      border-radius: 5px;
      border-color:darkblue;
      color: white;
      background-color: blue;
      font-family: "メイリオ", sans-serif;
    }

</style>

<a href="{% url 'register:month_with_schedule' month.previous.year month.previous.month %}">前月</a>
{{ month.current | date:"Y年m月" }}
<a href="{% url 'register:month_with_schedule' month.next.year month.next.month %}">次月</a>
<table class="table">
  <thead>
    <tr>
      {% for w in month.week_names %}
        <th>{{ w }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>

    {% for week in month.days %}
      <tr>


        {% for day, schedules, decisions in week %}
       
          {% if month.now == day %}
            <td class="table-success">
          {% else %}        
              <td> 
          {% endif %} 
          
        
          <div>
            {% if month.current.month != day.month %}
              {{ day | date:"m/d" }}
            {% else %}
              {{ day.day }}

            {% endif %}
            
            

 {% for s in schedules %}
 <br>
                           <!-- 1.モーダル表示のためのボタン -->
                           <!--昼シフトと夜シフトを判別-->
{% if s.start_time >= s.night_start_time%}
<button class="btn_night" data-toggle="modal" data-target="#{{s.id}}">
   {{ s.user_name }}
</button>
{% else %}
<button class="btn_noon"  data-toggle="modal" data-target="#{{s.id}}">
   {{ s.user_name }}
</button>
{% endif %}
<!-- 2.モーダルの配置 -->
<div class="modal" id="{{s.id}}" tabindex="-1">
    <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
            <!-- 4.モーダルのヘッダ -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">
                  <!--各スケジュール記入者に後で変更-->
         {{ day | date:"m/d" }}<br>
          {{s.user_name}}の詳細
                  </h4>
            </div>
            <!-- 5.モーダルのボディ -->
            <div class="modal-body">
               <p> {{ s.user_name }}</p>
               <p>{{ s.summary }}</p>
               <p> {{ s.start_time }} - {{ s.end_time }}</p>
            </div>
            <!-- 6.モーダルのフッタ -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
    </div>
    </br>
     {% endfor %}

            {% for schedule in schedules %}
                <p>{{ schedule.noon_numbers }}</p>
                <p>{{ schedule.night_numbers }}</p>
                <p>{{ s.user_name }}</p>
     {% endfor %}


            {% for decision in decisions %}
            	{% if forloop.last %}
                	<p>{{ decision.noon_numbers }}</p>
                	<p>{{ decision.night_numbers }}</p>
                {% endif %}
     		{% endfor %}



</div>
          </td>

        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}